In [6]:
amount=int(input("Enter amount = "))
if(amount<=5000 and amount%100==0):
    print("withdrawal is done")
elif(amount>5000):
    print("insufficient balance")
else:
    print("amount sholud be miltiple of 100")

Enter amount =  900

withdrawal is done

In [11]:
light = input("Enter traffic light color :")
if(light=="red"):
    print("Stop immediately")
elif(light=="yellow"):
    print("Get ready to move")
elif(light=="green"):
    print("You can go")
else:
    print("Invalid color")

Enter traffic light color : red

Stop immediately

In [24]:
age= int(input("enter the age :"))
if(age<12):
        print("tickect price is 150")
elif(age>=12 and age<=18):
        print("tickect price is 200")
else:
    print("ticket price is 300")

enter the age : 9

tickect price is 150

In [25]:
time= int (input("enter the time"))
if(time<8):
    print("no overtime pay")
else:
    print("100 per extra hour")

enter the time 4

no overtime pay

In [31]:
bill=int(input("enterr the bill :"))
if (bill>1000):
    print("10%discount")
elif (bill<1000 and bill>500):
    print("5%discount")
else:
    print("no discount")

enterr the bill : 10000

10%discount

In [32]:
water=int(input("enter the hours"))
if(water>=4):
    print("you are dehydrated! drink water now")
elif(water>2 and water<3):
    print("drink a glass of water")
else:
    print("you're fine")

enter the hours 5

you are dehydrated! drink water now

### datatypes
#### list,tuple,set

In [33]:
list=[10,20,30,40,50]
tuple=(10,20,30,40,50)
set={10,20,30,40,50}
print(list,type(list))
print(tuple,type(tuple))
print(set,type(set))

[10, 20, 30, 40, 50] <class 'list'>
(10, 20, 30, 40, 50) <class 'tuple'>
{50, 20, 40, 10, 30} <class 'set'>

In [34]:
#range(stop)
#range(start,stop)
#range(start,stop,stepsize)
r1=range(10)
print(r1)
print(type(r1))

range(0, 10)
<class 'range'>

In [40]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [49]:
#writ wa python program to print the natural numbers from 1 to n whre n is the users input
n=int(input("enter the integer value"))
print(f"natural numbers from 1 to {n}:")
for i in range (1, n+1):
    print(i)

enter the integer value 9

natural numbers from 1 to 9:
1
2
3
4
5
6
7
8
9

In [50]:
# write the python program to print natural nubrs fron n to 1
n=int(input("enter the integer value"))
print(f"natural numbers from 1 to {n}:")
for i in range (n,0,-1):
    print(i)

enter the integer value 5

natural numbers from 1 to 5:
5
4
3
2
1

In [52]:
#write a python program to print even numbers from 1 to n
n=int(input("enter the integer value"))
print(f"even numbers from 1 to {n}:")
for i in range (2,n+1,2):
    print(i)

enter the integer value 10

even numbers from 1 to 10:
2
4
6
8
10

In [59]:
# writea python program to print the even numbers from n to 1
n=int(input("enter the integer value"))
print(f"even numbers from 1 to {n}:")
for i in range (n,0,-1):
    if (i%2==0):
        print(i)

enter the integer value 10

even numbers from 1 to 10:
10
8
6
4
2

In [68]:
#write a python program to print odd number from 1 to n
n=int(input("enter the integer value"))
print(f"odd numbers from 1 to {n}:")
for i in range (1,n+2,2):
    print(i)

enter the integer value 20

odd numbers from 1 to 20:
1
3
5
7
9
11
13
15
17
19
21

In [74]:
#odd numbers n to 1
n=int(input("enter the integer value"))
print(f"odd numbers from 1 to {n}:")
for i in range (n,0,-1):
    if (i%2!=0):
        print(i)

enter the integer value 10

odd numbers from 1 to 10:
9
7
5
3
1

In [75]:
#to print multiplication table of n
n=int(input("enter the integer value"))
print(f"MULTIPLE TABLE OF{n}:")
for i in range (1,11):
        print(f"{n} * {i} = {n*i}")

enter the integer value 5

MULTIPLE TABLE OF5:
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

##### for loop syntax
* for element in sequence:
* body of for loop